<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!--
  - @author dong
 -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out" />
      <param name="Threshold" value="DEBUG" />
      <layout class="org.apache.log4j.PatternLayout">
         <!-- <param name="ConversionPattern" value="%d [%t] [%-5p](%C{2},%l) - %m%n" /> -->
      </layout>
     </appender>
          <!-- ===================================================================== -->
    <appender name="PROJECT" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/home/admin/logs/framework.log"/>
        <param name="append" value="true" /> 
        <param name="encoding" value="UTF-8"/>
        <param name="threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!-- <param name="ConversionPattern" value="%d [%t] [%X{requestURIWithQueryString}] %-5p %c{2} %l - %m%n"/> -->
        </layout>
    </appender>   
	    
	<logger name="com.ibatis" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="PROJECT"/>
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="org.apache" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="PROJECT"/>
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="org.springframework" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="PROJECT"/>
		<appender-ref ref="CONSOLE" />
	</logger>
	
    <logger name="java.sql" additivity="false">
          <level value="DEBUG"  />
          <appender-ref ref="PROJECT"/>
		  <appender-ref ref="CONSOLE" />
	</logger> 
	
    <root>
           <level value="DEBUG"/>
		   <appender-ref ref="CONSOLE" />
		   <appender-ref ref="PROJECT" />      
    </root>
</log4j:configuration>
